{% extends 'base.html' %}

{% block title %}
    Accounts | {{ block.super }}
{% endblock %}

{% block body %}
    <main class="py-5">
        <div class="container">
            <h1>Welcome!</h1>
            <p>
                This is an example website for
                <a href="https://github.com/jazzband/django-simple-menu">django-simple-menu</a>.
            </p>
            <p>
                Create a superuser and a normal user, then try to sign in with
                those to see, how the menu works.
            </p>
        </div>
    </main>
{% endblock %}
