repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
    -   id: mixed-line-ending
    -   id: check-toml
    -   id: check-yaml
-   repo: https://github.com/asottile/pyupgrade
    rev: v3.7.0
    hooks:
    -   id: pyupgrade
        args: [--py36-plus]
-   repo: https://github.com/adamchainz/django-upgrade
    rev: 1.14.0
    hooks:
    -   id: django-upgrade
        args: [--target-version, "3.2"]
-   repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
    -   id: python-check-blanket-noqa
    -   id: python-check-mock-methods
    -   id: python-no-eval
    -   id: python-no-log-warn
    -   id: rst-backticks
    -   id: rst-directive-colons
-   repo: https://github.com/asottile/setup-cfg-fmt
    rev: v2.3.0
    hooks:
    -   id: setup-cfg-fmt
-   repo: https://github.com/tox-dev/pyproject-fmt
    rev: "0.12.1"
    hooks:
    -   id: pyproject-fmt
